<h1>Téléchargements</h1>
<p>La Uragiranai Fansub propose diverses méthodes de téléchargement dont :</p>
<ul>
	<li><%= link_to "Page de télécahrgement Dédié", "http://ddl.uragiranai-fansub.tk/", target: "_blank"%></li>
	<li><%= link_to "Page de télécahrgement Torrent", "http://www.nyaa.eu/?page=separate&user=173766", target: "_blank"%></li>
</ul>
