header, footer, aside, nav, article {  
    display: block;  
}  
/*
 * BODY
 */
html {
	zoom: 1;	
}
@media screen and (max-width: 1500px) {
html { 
 	zoom:0.8; 
	}
}


body {
	background-image:url('/assets/bg.jpg');
	background-attachment: fixed ; 
	width: auto;
	font:normal 16px/1.5 "Calluna Sans", "Gill Sans", Calibri, "Trebuchet MS", sans-serif;
	-webkit-font-smoothing:antialiased;
	margin:auto;
}

body a {
	text-decoration:none;
	color: #70a0b2;
}

h2 {  
    font-size: 28px;  
    line-height: 44px;  
    padding: 22px 0;  
}  
  
h3 {  
    font-size: 18px;  
    line-height: 22px;  
    padding: 11px 0;  
}  
 
hr {
border: none;
height: 10px;
margin: 20px 0;
}
.flash {
	position: relative;
	margin: 0 auto;
	padding: 15px 15px 15px 15px;
	font-weight: bold;
	font-size: 12px;
	color: #264c72;
	text-shadow: 0 1px 0 rgba(255,255,255,0.8);
}
.notice {
	position: relative;
	margin: 0 auto;
	padding: 15px 50px 15px 15px;
	font-weight: bold;
	font-size: 12px;
	color: #264c72;
	border: 1px solid #97c1da;
	border-radius: 3px;
	background-color: #d0e3ef;
	background-image: -moz-linear-gradient(#d8ebf8, #d0e3ef);
	background-image: -webkit-linear-gradient(#d8ebf8, #d0e3ef);
	background-image: linear-gradient(#d8ebf8, #d0e3ef);
	background-repeat: repeat-x;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	text-shadow: 0 1px 0 rgba(255,255,255,0.8);
}
.error {
	color: #9c2400;
	padding:10px;
	background-color: #efd0d0;
	background-image: -moz-linear-gradient(#f8d8d8, #efd0d0);
	background-image: -webkit-linear-gradient(#f8d8d8, #efd0d0);
	background-image: linear-gradient(#f8d8d8, #efd0d0);
	background-repeat: repeat-x;
	border: 1px solid #da9797;
}
.warning {
	color: #9c2400;
	padding:10px;
	margin-right:10px;
	background-color: #efd0d0;
	background-image: -moz-linear-gradient(#f8d8d8, #efd0d0);
	background-image: -webkit-linear-gradient(#f8d8d8, #efd0d0);
	background-image: linear-gradient(#f8d8d8, #efd0d0);
	background-repeat: repeat-x;
	border: 1px solid #da9797;
}
.footer {
	opacity:0.5;
}
/*
 * Navigation
 */
nav{
	position: fixed;
	z-index:999;
	border:none;
	border:0px;
	width:100%;
	margin:auto;
	padding:0px;
	font: 67.5% 'Lucida Sans Unicode', 'Bitstream Vera Sans', 'Trebuchet Unicode MS', 'Lucida Grande', Verdana, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	background:#333333;
	overflow: visible;
	}
nav ul{
	width: 1000px;
	height:35px;
	list-style:none;
	margin:auto;
	padding:0px 0px 0px 50px;
	}
nav li{
	float:left;
	padding:0px;
	}
nav li a{
	background:#333333 url('seperator.gif') bottom right no-repeat;
	color:#cccccc;
	display:block;
	font-weight:normal;
	line-height:35px;
	margin:0px;
	padding:0px 25px;
	text-align:center;
	text-decoration:none;
	}
nav li a:hover, nav ul li:hover a{
	background: #2580a2 url('hover.gif') bottom center no-repeat;
	color:#FFFFFF;
	text-decoration:none;
	}
nav li ul{
	background:#333333;
	display:none;
	height:auto;
	padding:0px;
	margin:0px;
	border:0px;
	position:absolute;
	
	z-index:200;
	/*top:1em;
	/*left:0;*/
	}
nav li:hover ul{
	display:block;
	
	}
nav li li {
	background:url('sub_sep.gif') bottom left no-repeat;
	display:block;
	float:none;
	margin:0px;
	padding:0px;
	
	}
nav .min{
	width:100px;
}
nav .mid{
	width:180px;
}
nav .max{
	width:225px;
}
nav li:hover li a{
	background:none;
	
	}
nav li ul a{
	display:block;
	height:35px;
	font-size:12px;
	font-style:normal;
	margin:0px;
	padding:0px 10px 0px 15px;
	text-align:left;
	}
nav li ul a:hover, nav li ul li:hover a{
	background:#2580a2 url('hover_sub.gif') center left no-repeat;
	border:0px;
	color:#ffffff;
	text-decoration:none;
	}
nav p{
	clear:left;
	}	

/*
 * Slider
 */

#slides {
      display: none;
      padding:0px;
      margin:auto;
	padding-top:30px;
	padding-left:100px;
	font-family: sans;
	font-size:20px;
      
    }
    .hrslide {
    	border-top:1px solid #000000;
	height: 1px;
	margin: 0px;
    }
    .container {
      margin: -3px auto 0px;
      padding:0px;
      padding-left:50px;
      
    }

    /* For tablets & smart phones */
    @media (max-width: 767px) {
      body {
        padding-left: 20px;
        padding-right: 20px;
      }
      .container {
        width: auto
      }
    }

    /* For smartphones */
    @media (max-width: 480px) {
      .container {
        width: auto
      }
    }

    /* For smaller displays like laptops */
    @media (min-width: 768px) and (max-width: 979px) {
      .container {
        width: 900px
      }
    }

    /* For larger displays */
    @media (min-width: 1200px) {
      .container {
        width: 1000px
      }
    }

    #slides .slidesjs-navigation {
      margin-top:3px;
    }

     .slidesjs-previous {
      margin-right: 5px;
      position:absolute;
      opacity:0.5;
      top:150px;
      left:0;
    }
    .slidesjs-previous:hover {
	opacity:1;
	}

    .slidesjs-next {
      margin-right: 5px;
      position:absolute;
      top:150px;
	  opacity:0.5;
      right:-0.28%;
    }
	.slidesjs-next:hover {
	opacity:1;
	}
    .slidesjs-pagination {
      margin: 6px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(img/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,
    #slides a:visited {
      color: #333
    }

    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }

    .navbar {
      overflow: hidden
    }
    .slideright {
    	position: absolute;
    	top:8%;
    	left:44%;
    }
/*
 * Content
 */
#content {
	background: #f4f2e7;
	border-top: 10px solid #70a0b2;
	border-right: 1px solid #70a0b2;
	border-left: 1px solid #70a0b2;
	border-bottom: 1px solid #70a0b2;
	clear: both;
	color: #666;
	margin:0px auto 100px;
	padding: 0px 30px 0px 20px;
	overflow: hidden;
	width: 908px;
	display: table; 
	border-radius:10px; 
}
#mainContent {  
        display: table-cell;  
        width: 690px;  
        padding-left: 22px;
       -webkit-box-shadow: inset 5px 0px 5px 0px #A29F9F;
		box-shadow: inset 5px 0px 5px -1px #A29F9F;
		padding-bottom:100px;
}  
  
aside {  
        display: table-cell;  
        width: 210px;
        padding-right:10px;  
        border-right: 1px solid #70a0b2;
}
.module {
	
} 
.sidemodule {

	
}  
.hmodule {

}
.cmodule {

}


/*
 * Blog
 */

article {
	margin-bottom:70px;
}
.blogavt {
display: block;float: left;clear: none;
}
h2 {
	font-size: 25px;  
    line-height: 35px;  
 	padding:10px 0px 0px;
 	margin:0px;
}

.posted {
	padding:0px;
	margin:0px;
	font-style: italic;
}
.avatar {
	border-radius: 50%;
}
.hrblog {
	background: #70a0b2;
}
.hrp {
	border-top:1px dashed #a8a8a8;
}
.hrp2 {
	border-top:1px dashed #a8a8a8;
	height: 0px;
	margin: 5px 0;
}
.imgblog {
	max-width: 500px;
	border-radius:5px;
	margin-left:auto;
	margin-right:auto;
}
/*
 * STaff
 */
.staffavatar {
	border: 3px solid #323232;
	
}
/*
 * Projets
 */
.projets h1 {
	font-size: 38px;  
    line-height: 44px;  
    padding: 23px 0;
    text-align: center; 
}
.pil {
	border-radius:5px;
}
.pshow {
	border-radius:5px;
	max-width:700px;
	min-width: 400px;
}
.projettable {
	width:100%;
	border-collapse:collapse;
}
.projettable td {
}
.projettable .tdb {
	border-right:  5px solid #70a0b2;
	text-align: center;
	padding-right: 30px;
}
.tdb2 {
	text-align: center;
	padding-right: 30px;
}
.hmodulep {
	text-align:center;
}
.tdb li,.tdb2 li {
	list-style:none;
}

/*
 * Comments
 */
#commentlist {
	padding-left:100px;
}
.commentright {
	padding-right: 20px;
}
/*
 * Devise
 */
#deviseleft {
	padding-right:20px;
	border-right:  5px solid #70a0b2;

}
#deviseright {
	padding-left:20px;
}
.form {
	font-size:14px;
	font-weight: bold;
	}
.form .field-block {
	margin-top:5px;
	margin-bottom:15px;
}
.in {
	width: 300px;
	min-height: 34px;
	padding: 7px 8px;
	color: #333;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: right center;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	transition: all 0.15s ease-in;
	-webkit-transition: all 0.15s ease-in 0;
	vertical-align: middle;
	}
.button {
	display: inline-block;
	padding: 7px 15px;
	font-size: 13px;
	font-weight: bold;
	color: #333;
	text-shadow: 0 1px 0 rgba(255,255,255,0.9);
	white-space: nowrap;
	background-color: #eaeaea;
	background-image: -moz-linear-gradient(#fafafa, #eaeaea);
	background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
	background-image: linear-gradient(#fafafa, #eaeaea);
	background-repeat: repeat-x;
	border-radius: 3px;
	border: 1px solid #ddd;
	border-bottom-color: #c5c5c5;
	box-shadow: 0 1px 3px rgba(0,0,0,0.05);
	vertical-align: middle;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-appearance: none;
}
.button:hover {
	background-color: #E4E4E4;
	background-image: -moz-linear-gradient(#fafafa, #E4E4E4);
	background-image: -webkit-linear-gradient(#fafafa, #E4E4E4);
	background-image: linear-gradient(#fafafa, #E4E4E4);
	background-repeat: repeat-x;
}
#upbsleft {
	padding-right:20px;
	border-right:  5px solid #70a0b2;
	width: 300px;
}
#upbsright {
	padding-left:20px;
}

.left {
	padding-right:20px;
	border-right:  5px solid #70a0b2;
}
.right {
	padding-left:20px;
}
